header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #999
}

header h1 {

    font-size: 20px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.header-center {

    display: flex;
    flex-direction: row;
}

.header-center h1 {

    margin: 0 20px;
    cursor: pointer;
    transition: ease 0.3s;
}

.header-left img {

    margin-left: 250px;
    cursor: pointer;
}

.header-text {

    margin-right: 250px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
}

.header-text::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px; /* Adjust as needed */
    width: 0;
    height: 2px; /* Adjust as needed */
    background-color: #588157;
    transition: width 0.3s ease, left 0.3s ease;
}

.header-text:hover::after {
    width: 100%;
    left: 0;
}

.header-text:hover {

    color: #555
}

.activeNav {

    color: inherit;
    text-decoration-color: #588157;
    text-underline-offset: 10px;
}

.activeNav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* Adjust as needed */
    width: 100%;
    height: 2px; /* Adjust as needed */
    background-color: #588157;
}

.restNav {

    color: inherit;
    text-decoration: none;
}